#header {
    color: goldenrod;
    background-color: black;
    text-align: center;
}
#container {
    background-color: whitesmoke;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.image {
    width: auto;
    height: auto;
    text-align: center;
}
.content {
    background-color: rgb(152, 152, 214);
    display: flex;
    margin: 10px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    border: solid 5px blue;
    
}
.list1 {
    background-color: rgb(231, 154, 154);
    width: 500px;
    text-align: center;
    border-color: blueviolet;

}
.list2 { 
    background-color: rgb(218, 148, 148);
    width: 500px;
    text-align: center;
    border-color: blueviolet;
}
.list3 {
    background-color: rgb(235, 143, 143);
    width: 500px;
    text-align: center;
    border-color: blueviolet;
}
#footer {
    color: #f5eded;
    background-color: rgb(8, 50, 141);
    text-align: center;
}